<%= form_for(condition) do |f| %>
<% if condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(condition.errors.count, "error") %> prohibited this condition from being saved:</h2>

      <ul>
      <% condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <form role="form">
      <div class="form-group">
          <%= f.label :formas_de_pago, "Formas de Pago:" %>
          <%= f.text_area :formas_de_pago, placeholder:"Ingrese Aquí sus Formas de Pago:", class:"form-control" %>
      </div>

      <div class="form-group">
          <%= f.check_box :pago_a_plazo, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :pago_a_plazo, 'Pago a Plazo' %>  
      </div>
      <div class="form-group">
         <%= f.check_box :compra_anticipada, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :compra_anticipada, 'Compra Anticipada' %>
      </div>
      <div class="form-group">
         <%= f.check_box :titulo_de_dominio, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :titulo_de_dominio, 'Titulo de Dominio' %>
      </div>
      <div class="form-group">
         <%= f.check_box :acepta_seguro_deceso, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :acepta_seguro_deceso, 'Acepta Seguro Deceso' %>
      </div>
      <div class="form-group">
         <%= f.check_box :seguro_de_degravamen, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :seguro_de_degravamen, 'Seguro de Degravamen' %>
      </div>
      <div class="form-group">
         <%= f.check_box :seguro_cesantia, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :seguro_cesantia, 'Seguro Cesantía' %>
      </div>
      <div class="form-group">
         <%= f.label :convenio, "Convenio:" %>
         <%= f.text_field :convenio, class:"form-control" %>
      </div>
      <div class="form-group">
         <%= f.check_box :descuento_servicio_sepultacion, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :descuento_servicio_sepultacion, 'Descuento Servicio Sepultación' %>
      </div>
      <div class="form-group">
         <%= f.check_box :pensiones, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :pensiones, 'Pensiones' %>
      </div>
      <div class="form-group">
        <label>Plan:</label>
        <%= f.collection_select :plan_id, Plan.all, :id, :nombre, {prompt: true}, {class: "form-control"} %>
      </div>
      <div class="actions">
      <%= f.submit "Crear Condición", :class => "btn btn-success" %>
</div> 
</form

<% end %>
