<p id="notice"><%= notice %></p>

<h1>Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Formas de pago</th>
      <th>Pago a plazo</th>
      <th>Compra anticipada</th>
      <th>Titulo de dominio</th>
      <th>Acepta seguro deceso</th>
      <th>Seguro de degravamen</th>
      <th>Seguro cesantia</th>
      <th>Convenio</th>
      <th>Descuento servicio sepultacion</th>
      <th>Pensiones</th>
      <th>Plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.formas_de_pago %></td>
        <td><%= condition.pago_a_plazo %></td>
        <td><%= condition.compra_anticipada %></td>
        <td><%= condition.titulo_de_dominio %></td>
        <td><%= condition.acepta_seguro_deceso %></td>
        <td><%= condition.seguro_de_degravamen %></td>
        <td><%= condition.seguro_cesantia %></td>
        <td><%= condition.convenio %></td>
        <td><%= condition.descuento_servicio_sepultacion %></td>
        <td><%= condition.pensiones %></td>
        <td><%= condition.plans %></td>
        <td><%= link_to 'Show', condition %></td>
        <td><%= link_to 'Edit', edit_condition_path(condition) %></td>
        <td><%= link_to 'Destroy', condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condition', new_condition_path %>
