<%= form_for(burial_service) do |f| %>
<% if burial_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(burial_service.errors.count, "error") %> prohibited this burial_service from being saved:</h2>

      <ul>
      <% burial_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form role="form">
  <div class="form-group">
      <%= f.radio_button :capilla, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :capilla, 'Capilla' %>  
      </div>
      <div class="form-group">
         <%= f.radio_button :sala_de_velatorio, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :sala_de_velatorio, 'Sala de Velatorio' %>
      </div>
      <div class="form-group">
         <%= f.radio_button :liturgia, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :liturgia, 'Liturgía' %>
      </div>
      <div class="form-group">
         <%= f.label :toldo, "Toldo:" %>
         <%= f.text_field :toldo, class:"form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :silla, "Silla:" %>
         <%= f.text_field :silla, class:"form-control" %>
      </div>
      <div class="form-group">
         <%= f.radio_button :amplificacion, :checked => false %>
         <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
         <%= label :amplificacion, 'Amplificación' %>
      </div>
      <div class="form-group">
         <%= f.radio_button :diacono, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :diacono, 'Diacono' %>
      </div>
      <div class="form-group">
         <%= f.label :coro, "Coro:" %>
         <%= f.text_field :coro, class:"form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :cafeteria, "Cafeteria:" %>
         <%= f.text_field :cafeteria, class:"form-control" %>
      </div>
      <div class="actions">
      <%= f.submit "Crear Servicio de Sepultación", :class => "btn btn-success" %>
</div> 
</form


<% end %>
