<p id="notice"><%= notice %></p>

<h1>Burial Services</h1>

<table>
  <thead>
    <tr>
      <th>Capilla</th>
      <th>Sala de velatorio</th>
      <th>Liturgia</th>
      <th>Toldo</th>
      <th>Silla</th>
      <th>Amplificacion</th>
      <th>Diacono</th>
      <th>Coro</th>
      <th>Cafeteria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @burial_services.each do |burial_service| %>
      <tr>
        <td><%= burial_service.capilla %></td>
        <td><%= burial_service.sala_de_velatorio %></td>
        <td><%= burial_service.liturgia %></td>
        <td><%= burial_service.toldo %></td>
        <td><%= burial_service.silla %></td>
        <td><%= burial_service.amplificacion %></td>
        <td><%= burial_service.diacono %></td>
        <td><%= burial_service.coro %></td>
        <td><%= burial_service.cafeteria %></td>
        <td><%= link_to 'Show', burial_service %></td>
        <td><%= link_to 'Edit', edit_burial_service_path(burial_service) %></td>
        <td><%= link_to 'Destroy', burial_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Burial Service', new_burial_service_path %>
