<div class="container">
  <p id="notice"><%= notice %></p>
  

  <% if usuario_signed_in? %>
      <% if Usuario.last.role_id == 2 %>
        <p>
          <strong>Nombre:</strong>
          <%= @quote.nombre %>
        </p>

        <p>
          <strong>Apellidos:</strong>
          <%= @quote.apellidos %>
        </p>

        <p>
          <strong>Rut:</strong>
          <%= @quote.rut %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @quote.email %>
        </p>

        <p>
          <strong>Telefono (1):</strong>
          <%= @quote.telefonouno %>
        </p>

        <p>
          <strong>Telefono (2):</strong>
          <%= @quote.telefonodos %>
        </p>

        <p>
          <strong>Plan:</strong>
          <%= @quote.plan.nombre %>
        </p>

        <%= link_to 'Editar', edit_quote_path(@quote), class: "btn btn-default" %> |
      <% end %>
  <% end %>

  <div>
    <%= image_tag "stylish_portfolio/cotizacion.jpg", class: "img-ubicacion" %>
    <%= image_tag "stylish_portfolio/cotizacion-enviada.png", class: "img-ubicacion" %>
  </div>
  <br>

  <%= link_to "Llamanos",  "#", :onMouseover => "alert('Nuestro Número: +56981237293')", class: "btn btn-warning"%>
  <% @quote.plan.empresa.sedes.each do |quote_plan| %>
        <tr>
      <%= link_to "Ubicación", {controller: "/sedes", action: "show", id: quote_plan.id} , class: "btn btn-info"%>    
        </tr>
      <% end %>
  <%= link_to 'Atrás', plan_path(@quote.plan.id), class: "btn btn-danger" %>

  
</div>


