<p id="notice"><%= notice %></p>

<p>
  <strong>Urna:</strong>
  <%= @component.urna %>
</p>

<p>
  <strong>Velatorio:</strong>
  <%= @component.velatorio %>
</p>

<p>
  <strong>Traslado:</strong>
  <%= @component.traslado %>
</p>

<p>
  <strong>Servicio de cinerario:</strong>
  <%= @component.servicio_de_cinerario %>
</p>

<p>
  <strong>Anfora:</strong>
  <%= @component.anfora %>
</p>

<p>
  <strong>Burial service:</strong>
  <%= @component.burial_service %>
</p>

<p>
  <strong>Espacio:</strong>
  <%= @component.espacio %>
</p>

<p>
  <strong>Construction:</strong>
  <%= @component.construction %>
</p>

<p>
  <strong>Location:</strong>
  <%= @component.location %>
</p>

<p>
  <strong>Support:</strong>
  <%= @component.support %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @component.plan %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
