<%= form_for(servicio) do |f| %>
  <% if servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, "Nombre:" %>
    <%= f.text_field :nombre, class:"form-control" %>  
  </div>

  <div class="form-group">
    <%= f.label :tipo_empresa_id, "Tipo Empresa:" %>
    <%= f.collection_select :tipo_empresa_id, TipoEmpresa.all, :id, :nombre, {prompt: true}, {class: "form-control"}  %>
  </div>

  <div class="actions">
    <%= f.submit "Crear Servicio", class:"btn btn-success" %>
  </div>
<% end %>
