<p id="notice"><%= notice %></p>

<p>
  <strong>Anfora y cobre:</strong>
  <%= @anfora.anfora_y_cobre %>
</p>

<p>
  <strong>Anfora cobre:</strong>
  <%= @anfora.anfora_cobre %>
</p>

<%= link_to 'Edit', edit_anfora_path(@anfora) %> |
<%= link_to 'Back', anforas_path %>
