<%= form_for(direction) do |f| %>
  <% if direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% direction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.label :calle, "Calle:" %>
    <%= f.text_field :calle, class:"form-control" %>  
  </div>

  <div class="form-group">
    <%= f.label :numero, "Número:" %>
    <%= f.text_field :numero, class:"form-control" %>  
  </div>

  <div class="form-group">
    <%= f.label :sector, "Sector:" %>
    <%= f.text_field :sector, class:"form-control" %>  
  </div>

  <div class="form-group">
      <%= f.label :empresa_id, "Empresa Id:" %>
      <%= collection_select :direction, :empresa_id, Empresa.all, :id, :nombre, {prompt: true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
      <%= f.label :comuna_id, "Comuna Id:" %>
      <%= collection_select :direction, :comuna_id, Comuna.all, :id, :nombre, {prompt: true}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit "Crear Dirección", :class => "btn btn-success" %>
  </div>
<% end %>
