<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @publication.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @publication.estado %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @publication.usuario %>
</p>

<p>
  <strong>Type publication:</strong>
  <%= @publication.type_publication %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
