<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @componente.nombre %>
</p>

<p>
  <strong>Caracteristica:</strong>
  <%= @componente.caracteristica %>
</p>

<%= link_to 'Edit', edit_componente_path(@componente) %> |
<%= link_to 'Back', componentes_path %>
