<%= form_for(traslado) do |f| %>
<% if traslado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(traslado.errors.count, "error") %> prohibited this traslado from being saved:</h2>

      <ul>
      <% traslado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <form role="form">
      <div class="form-group">
        <%= f.radio_button :carroza_de_instalacion, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :carroza_de_instalacion, 'Carroza de Instalación' %>
      </div>
      <div class="form-group">
        <%= f.radio_button :carroza_funeral, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :carroza_funeral, 'Carroza Funeral' %>
      </div>
      <div class="form-group">
        <%= f.radio_button :carroza_para_flores, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :carroza_para_flores, 'Carroza para Flores' %>
      </div>
      <div class="form-group">
        <%= f.label :vehiculo_acompanamiento, "Vehiculo Acompañamiento:" %>
        <%= f.text_field :vehiculo_acompanamiento, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :capacidad_pasajeros, "Capacidad Pasajeros:" %>
        <%= f.text_field :capacidad_pasajeros, class:"form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Crear Traslado", :class => "btn btn-success" %>
      </div>
    </form>
  </div>

<% end %>
