<%= form_for(tipo_cliente) do |f| %>
  <% if tipo_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_cliente.errors.count, "error") %> prohibited this tipo_cliente from being saved:</h2>

      <ul>
      <% tipo_cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, "Nombre:" %>
    <%= f.text_field :nombre, class:"form-control" %>  
  </div>

  <div class="actions">
    <%= f.submit "Crear Tipo Cliente", class:"btn btn-success" %>
  </div>
<% end %>
