<%= form_for(velatorio) do |f| %>
<% if velatorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(velatorio.errors.count, "error") %> prohibited this velatorio from being saved:</h2>

      <ul>
      <% velatorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <form role="form">
      <div class="form-group">
        <%= f.label :tramites_defuncion, "Tamites de Defunción:" %>
        <%= f.text_field :tramites_defuncion, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.check_box :asesor_a_domicilio, :checked => false %> 
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :asesor_a_domicilio, 'Asesor a Domicilio' %> 
      </div>
      <div class="form-group">
        <%= f.check_box :sala_de_velatorio, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :sala_de_velatorio, 'Sala de Velatorio' %>
      </div>
      <div class="form-group">
        <%= f.label :cirios, "Cirios:" %>
        <%= f.number_field :cirios, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :portacirios, "Portacirios:" %>
        <%= f.number_field :portacirios, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :cruz, "Cruz:" %>
        <%= f.number_field :cruz, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :flores_en_canasto, "Flores en Canasto:" %>
        <%= f.number_field :flores_en_canasto, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :flores_cubre_urna, "Flores cubre Urna:" %>
        <%= f.number_field :flores_cubre_urna, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :libro_de_condolencias, "Libro de Condolencias:" %>
        <%= f.number_field :libro_de_condolencias, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.check_box :parroco, :checked => false %>
        <a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</a>
        <%= label :parroco, 'Parroco' %>
      </div>
      <div class="form-group">
        <%= f.label :coro, "Coro:" %>
        <%= f.text_field :coro, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :aviso_prensa, "Aviso de Prensa:" %>
        <%= f.number_field :aviso_prensa, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :tarjeta_agradecimiento, "Tarjeta de Agradecimiento:" %>
        <%= f.number_field :tarjeta_agradecimiento, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :cafeteria, "Cafeteria:" %>
        <%= f.text_field :cafeteria, class:"form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Crear Velatorio", :class => "btn btn-success" %>
      </div> 
    </form>
  </div>
<% end %>
