<div class="container">
  <p id="notice"><%= notice %></p>


  <p>
    <strong>Nombre:</strong>
    <%= @sede.nombre %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= @sede.empresa.nombre %>
  </p>

  <p>
    <strong>Calle:</strong>
    <%= @sede.calle %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= @sede.numero %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= @sede.sector %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= @sede.ubicacion %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= @sede.comuna.nombre %>
  </p>

  <%= link_to 'Editar', edit_sede_path(@sede), class: "btn btn-default" %> |
  <%= link_to 'Atrás', sedes_path, class: "btn btn-danger" %>
</div>

