<div class="container">
  <p id="notice"><%= notice %></p>


  <p>
    <strong>Nombre:</strong>
    <%= @sede.nombre %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= @sede.empresa.nombre %>
  </p>

  <p>
    <strong>Calle:</strong>
    <%= @sede.calle %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= @sede.numero %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= @sede.sector %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <iframe src=" <%= @sede.ubicacion %>" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= @sede.comuna.nombre %>
  </p>
  <% if usuario_signed_in? %>
    <% if Usuario.last.role_id == 2 %>
      <%= link_to 'Editar', edit_sede_path(@sede), class: "btn btn-default" %> |
    <% end %>
  <% end %>
  
  <%= link_to 'Atrás', :back, class: "btn btn-danger" %>

</div>

