<%= form_for(comuna) do |f| %>
  <% if comuna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comuna.errors.count, "error") %> prohibited this comuna from being saved:</h2>

      <ul>
      <% comuna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :nombre, "Nombre:" %>
      <%= f.text_field :nombre, class:"form-control" %>  
  </div>

  <div class="form-group">
      <%= f.label :region_id, "Región Id:" %>
      <%= collection_select :comuna, :region_id, Region.all, :id, :nombre, {prompt: true}, {class: "form-control"} %>
  </div>


  <div class="actions">
    <%= f.submit "Crear Comuna", :class => "btn btn-success" %>
  </div>
<% end %>

