<%= form_for(telefono) do |f| %>
  <% if telefono.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(telefono.errors.count, "error") %> prohibited this telefono from being saved:</h2>

      <ul>
      <% telefono.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :numero, "Número:" %>
    <%= f.text_field :numero, class:"form-control" %>  
  </div>

  <div class="form-group">
      <%= f.label :sede_id, "Sede:" %>
      <%= f.collection_select :sede_id, Sede.all, :id, :nombre, {prompt: true}, {class: "form-control"}  %>
  </div>

  <div class="actions">
    <%= f.submit "Crear Telefono", class:"btn btn-success" %>
  </div>
<% end %>
