<%= form_for(urna) do |f| %>
  <% if urna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this urna from being saved:</h2>

      <ul>
      <% urna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form"> 

    <div class="form-group">
    <%= f.label :modelo, "Modelo" %>
    <%= f.text_field :modelo, class:"form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :medida, "Medida:" %>
      <%= f.text_field :medida, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :material, "Material:" %>
      <%= f.text_field :material, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :terminacion, "Terminación:" %>
      <%= f.text_field :terminacion, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :color, "Color:" %>
      <%= f.text_field :color, class:"form-control" %>
    </div>


    <div class="actions">
      <%= f.submit "Crear Urna", :class => "btn btn-success" %>
    </div>    
  </form>

  <% end %>
