<%= form_for(contruction) do |f| %>
<% if construction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(construction.errors.count, "error") %> prohibited this construction from being saved:</h2>

      <ul>
      <% construction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<form role="form">

      <div class="form-group">
          <%= f.label :tipo, "Tipo:" %>
          <%= f.text_field :tipo, class:"form-control" %>  
      </div>
      <div class="form-group">
         <%= f.label :material, "Material:" %>
         <%= f.text_field :material, class:"form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :terminacion, "Terminación:" %>
         <%= f.text_field :terminacion, class:"form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :incluye_grabado, "Incluye Grabado:" %>
         <%= f.text_field :acepta_seguro_deceso, class:"form-control" %>
      </div>
      <div class="actions">
      <%= f.submit "Crear Construcción", :class => "btn btn-success" %>
</div> 
</form


<% end %>
