<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Tipo:</strong>
	  <%= @construction.tipo %>
	</p>

	<p>
	  <strong>Material:</strong>
	  <%= @construction.material %>
	</p>

	<p>
	  <strong>Terminacion:</strong>
	  <%= @construction.terminacion %>
	</p>

	<p>
	  <strong>Incluye grabado:</strong>
	  <%= @construction.incluye_grabado %>
	</p>

	<br>

	<p>
		<strong>Seleccione otro componente que desea agregar al plan:</strong>
	</p>


	<div class="form-group">
		<%= link_to "Capacidad", {controller: "espacios", action: "new"}, class: "btn btn-primary"%>
		<%= link_to "Ubicación", {controller: "locations", action: "new"}, class: "btn btn-success"%>
		<%= link_to "Mantención", {controller: "supports", action: "new"}, class: "btn btn-warning"%>
	</div>


	<br>
		      

	<%= link_to 'Editar', edit_construction_path(@construction), class: "btn btn-default" %>
	<%= link_to 'Atrás', constructions_path, class: "btn btn-danger" %>
</div>

