<%= form_for(espacio) do |f| %>
<% if espacio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(espacio.errors.count, "error") %> prohibited this espacio from being saved:</h2>

      <ul>
      <% espacio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<form role="form">
      <div class="form-group">
          <%= f.label :urna_adulto, "Urna Adulto:" %>
          <%= f.text_field :urna_adulto, class:"form-control" %>  
      </div>
      <div class="form-group">
         <%= f.label :urna_parvulo, "Urna Parvulo:" %>
         <%= f.text_field :urna_parvulo, class:"form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :reduccion, "Reducción:" %>
         <%= f.text_field :reduccion, class:"form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :anfora, "Anfora:" %>
         <%= f.text_field :anfora, class:"form-control" %>
      </div>
      <div class="actions">
      <%= f.submit "Crear Espacios", :class => "btn btn-success" %>
</div> 
</form

<% end %>
