<p id="notice"><%= notice %></p>

<p>
  <strong>Urna adulto:</strong>
  <%= @espacio.urna_adulto %>
</p>

<p>
  <strong>Urna parvulo:</strong>
  <%= @espacio.urna_parvulo %>
</p>

<p>
  <strong>Reduccion:</strong>
  <%= @espacio.reduccion %>
</p>

<p>
  <strong>Anfora:</strong>
  <%= @espacio.Anfora %>
</p>

<%= link_to 'Edit', edit_espacio_path(@espacio) %> |
<%= link_to 'Back', espacios_path %>
