<%= form_for(empresa) do |f| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :nombre, "Nombre:" %>
      <%= f.text_field :nombre, class:"form-control" %>  
    </div>

    <div class="form-group">
      <%= f.label :ubicacion, "Ubicación:" %>
      <%= f.text_field :ubicacion, class:"form-control" %>  
    </div>

    <div class="form-group">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email, class:"form-control" %>  
    </div>

    <div class="form-group">
      <label>Tipo de Empresa:</label>
      <%= collection_select :empresa, :tipo_empresa_id, @tipo_empresas, :id, :nombre, {prompt: true}, {class: "form-control"}  %>
    </div>

    <div class="actions">
      <%= f.submit "Crear Empresa", :class => "btn btn-success" %>
    </div> 

    
 
<% end %>
