<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Nombre:</strong>
	  <%= @empresa.nombre %>
	</p>

	<p>
	  <strong>Rut:</strong>
	  <%= @empresa.rut %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @empresa.email %>
	</p>

	<p>
	  <strong>Usuario:</strong>
	  <%= @empresa.usuario.email %>
	</p>

	<p>
	  <strong>Tipo Empresa:</strong>
	  <%= @empresa.tipo_empresa.nombre %>
	</p>

	<div>
	  <%= image_tag @empresa.cover.url(:thumb) %>
	</div>

	<%= link_to 'Editar', edit_empresa_path(@empresa), class: "btn btn-default" %> |
	<%= link_to 'Atrás', empresas_path, class: "btn btn-danger" %>
</div>


