<%= form_for(type_plan) do |f| %>
  <% if type_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_plan.errors.count, "error") %> prohibited this type_plan from being saved:</h2>

      <ul>
      <% type_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, "Nombre:" %>
    <%= f.text_field :nombre, class:"form-control" %>  
  </div>

  <div class="actions">
    <%= f.submit "Crear Tipo Plan", class:"btn btn-success" %>
  </div>
<% end %>
