<%= form_for(plan) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :codigo %>
    <%= f.number_field :codigo %>
  </div>

  <div class="field">
    <%= f.label :precio %>
    <%= f.number_field :precio %>
  </div>

  <div class="field">
    <%= f.label :publication_id %>
    <%= f.text_field :publication_id %>
  </div>

  <div class="field">
    <%= f.label :servicio_id %>
    <%= f.text_field :servicio_id %>
  </div>

  <div class="field">
    <%= f.label :type_plan_id %>
    <%= f.text_field :type_plan_id %>
  </div>

  <div class="field">
    <%= f.label :tipo_cliente_id %>
    <%= f.text_field :tipo_cliente_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
