<%= form_for(plan) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form">

    <div class="form-group">
      <%= f.label :nombre, "Nombre de Plan:" %>
      <%= f.text_field :nombre, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :codigo, "Codigo:" %>
      <%= f.number_field :codigo, class:"form-control", placeholder:"Pendiente" %>
    </div>

    <div class="form-group">
    <label>Nombre Funeraria:</label>
    <%= f.collection_select :empresa_id, Empresa.all, :id, :nombre, {prompt: true}, {class: "form-control"} %>
    </div>
    <div class="form-group">
    <label>Tipo de Plan:</label>
    <%= f.collection_select :type_plan_id, TypePlan.all, :id, :nombre, {prompt: true}, {class: "form-control"} %>
    </div>
    <div class="form-group">
    <label>Tipo de Cliente:</label>
    <%= f.collection_select :tipo_cliente_id, TipoCliente.all, :id, :nombre, {prompt: true}, {class: "form-control"} %>
    </div>

    <div class="form-group">
    <label>Servicio:</label>
    <%= f.collection_select :servicio_id, Servicio.all, :id, :nombre, {prompt: true}, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :precio, "Precio:" %>
      <%= f.number_field :precio, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.check_box :state %>
      <%= f.label :state, "Listo para Publicar" %>
    </div>

    <div class="form-group">
      <%= f.check_box :necesidad %>
      <%= f.label :necesidad, "Necesidad Inmediata" %>
    </div>


    <div class="actions">
      <%= f.submit "Crear Plan", :class => "btn btn-success" %>
    </div>    
  </form>

  <% end %>

  

