<%= form_for(plan) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form">
    <div class="form-group">
    <label>Nombre Funeraria:</label>
    <%= collection_select(:plan, :empresa_id, Empresa.all, :id, :nombre, prompt: true) %>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre Funeraria:</label>
      <input type="text" class="form-control" id="nombre"
             placeholder="Nombre Funeraria:">
    </div>
    <div class="form-group">
    <label>Tipo de Plan:</label>
    <%= collection_select(:plan, :type_plan_id, TypePlan.all, :id, :nombre, prompt: true) %>
    </div>
    <div class="form-group">
    <label>Tipo de Cliente:</label>
    <%= collection_select(:plan, :tipo_cliente_id, TipoCliente.all, :id, :nombre, prompt: true) %>
    </div>
    <div class="form-group">
      <label for="codigo">SKU:</label>
      <input type="text" class="form-control" id="codigo" 
             placeholder="SKU:">
    </div>
        <div class="form-group">
      <label for="publication_id">Publication:</label>
      <input type="text" class="form-control" id="publication_id"
             placeholder="Publication:">
    </div>
    <div class="form-group">
      <label for="empresa_id">Empresa:</label>
      <input type="text" class="form-control" id="empresa_id"
             placeholder="Empresa:">
    </div>
    <div class="form-group">
      <label for="servicio_id">Servicios:</label>
      <input type="text" class="form-control" id="servicio_id"
             placeholder="Servicios:">
    </div>
    <div class="container panel panel-primary">
    <label>Urna:</label>
      <%= render 'urnas/form', urna: @urnas %>
    </div>
    <div class="container panel panel-primary">
    <label>Velatorio:</label>
      <%= render 'velatorios/form', velatorio: @velatorios %>
    </div>
    <div class="container panel panel-primary">
    <label>Traslado:</label>
      <%= render 'traslados/form', traslado: @traslados %>
    </div>
    <div class="container panel panel-primary">
    <label>Servicio de cinerario:</label>
      <%= render 'servicio_de_cinerarios/form', servicio_de_cinerario: @servicio_de_cinerarios %>
    </div>
    <div class="container panel panel-primary">
    <label>Anfora:</label>
      <%= render 'anforas/form', anfora: @anforas %>
    </div>
    <div class="container panel panel-primary">
    <label>Servicio de Sepultaci贸n:</label>
      <%= render 'burial_services/form', burial_service: @burial_services %>
    </div>
    <div class="container panel panel-primary">
    <label>Espacios:</label>
      <%= render 'espacios/form', espacio: @espacios %>
    </div>
    <div class="container panel panel-primary">
    <label>Construcci贸n:</label>
      <%= render 'constructions/form', construction: @constructions %>
    </div>
    <div class="container panel panel-primary">
    <label>Ubicaci贸n:</label>
      <%= render 'locations/form', location: @locations %>
    </div>
    <div class="container panel panel-primary">
    <label>Mantenci贸n:</label>
      <%= render 'supports/form', support: @supports %>
    </div>

    <div class="container panel panel-primary">
    <label>Condiciones:</label>
      <%= render 'conditions/form', condition: @conditions %>
    </div>
    
      
    
    <button type="submit" class="btn btn-default">Enviar</button>
  </form>

<% end %>
