<div class="container">
	<h1>Editando Plan</h1>

	<%= render 'form', plan: @plan %>

	<%= link_to 'Ver', @plan, class: "btn btn-default" %>
	<% if @plan.servicio.id == 8 %>
			<%= link_to "Atr치s", {controller: "/plans", action: "index", q: Servicio.find(8).id}, class: "btn btn-danger"%>
		<% elsif @plan.servicio.id == 6 %>
				<%= link_to "Atr치s", {controller: "/plans", action: "index", q: Servicio.find(6).id}, class: "btn btn-danger"%>
			<% elsif @plan.servicio.id == 7 %>
					<%= link_to "Atr치s", {controller: "/plans", action: "index", q: Servicio.find(7).id}, class: "btn btn-danger"%>
				<% elsif @plan.servicio.id == 1 %>
						<%= link_to "Atr치s", {controller: "/plans", action: "index", q: Servicio.find(1).id}, class: "btn btn-danger"%>
	<% end %>
</div>

