<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @plan.nombre %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @plan.codigo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @plan.precio %>
</p>

<strong>Servicio:</strong>
  <%= @plan.servicio %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
