<p id="notice"><%= notice %></p>

<p>
  <strong>Capilla:</strong>
  <%= @servicio_de_cinerario.capilla %>
</p>

<p>
  <strong>Sala de velatorio:</strong>
  <%= @servicio_de_cinerario.sala_de_velatorio %>
</p>

<p>
  <strong>Podium:</strong>
  <%= @servicio_de_cinerario.podium %>
</p>

<p>
  <strong>Liturgia:</strong>
  <%= @servicio_de_cinerario.liturgia %>
</p>

<p>
  <strong>Amplificacion:</strong>
  <%= @servicio_de_cinerario.amplificacion %>
</p>

<p>
  <strong>Diacono:</strong>
  <%= @servicio_de_cinerario.diacono %>
</p>

<p>
  <strong>Coro:</strong>
  <%= @servicio_de_cinerario.coro %>
</p>

<p>
  <strong>Cafeteria:</strong>
  <%= @servicio_de_cinerario.cafeteria %>
</p>

<p>
  <strong>Ceremonia entre cenizas:</strong>
  <%= @servicio_de_cinerario.ceremonia_entre_cenizas %>
</p>

<p>
  <strong>Anfora incluida:</strong>
  <%= @servicio_de_cinerario.anfora_incluida %>
</p>

<%= link_to 'Edit', edit_servicio_de_cinerario_path(@servicio_de_cinerario) %> |
<%= link_to 'Back', servicio_de_cinerarios_path %>
