<p id="notice"><%= notice %></p>

<h1>Type Publications</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_publications.each do |type_publication| %>
      <tr>
        <td><%= type_publication.nombre %></td>
        <td><%= link_to 'Show', type_publication %></td>
        <td><%= link_to 'Edit', edit_type_publication_path(type_publication) %></td>
        <td><%= link_to 'Destroy', type_publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Publication', new_type_publication_path %>
