<%= form_for(tipo_empresa) do |f| %>
  <% if tipo_empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_empresa.errors.count, "error") %> prohibited this tipo_empresa from being saved:</h2>

      <ul>
      <% tipo_empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
